header {
  /* border-bottom: 2px solid #fff; */
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, rgba(243, 88, 191, 0.25));
}

.heading-bg {
  background-color: #ff6ff1;
  color: #fff;
  height: 50vh;
}

.heading-bg h2 {
  font-size: 5rem;
}

.about-text {
  color: rgba(255, 66, 191, 0.82);
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  font-size: 1.5rem;
}

/*--------mobile view------------*/

@media screen and (max-width: 576px) {
  .heading-bg {
    height: 30vh;
  }

  .heading-bg h2 {
    font-size: 2.5rem;
  }
}
