/*----------HERO SECTION-------------*/

.landing-section {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  align-items: center;
}

.landing-section h1 {
  font-size: 5rem;
  color: #f358bf;
}

@media screen and (max-width: 576px) {
  .landing-section h1 {
    font-size: 3.5rem;
  }
}
