/*----------HERO SECTION-------------*/

.hero-section {
  /* margin-top: 10vh; */
  background-image: url("../images/hero-bg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  align-items: center;
  height: 90vh !important;
}

.hero-section h1 {
  font-size: 5rem;
  /* padding-left: 5vw; */
  color: #f358bf;
}
