/*----------HERO SECTION-------------*/

.hero-section {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  display: flex;
  align-items: center;
  min-height: 90vh !important;
}

.hero-section h1 {
  font-size: 5rem;
  color: #f358bf;
}
