* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: "redressed", sans-serif;
}

.section {
  min-height: 90vh !important;
}

/* --------NAVBAR--------- */

.navbar {
  background-color: rgba(255, 66, 191, 0.82) !important;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
  margin: 0 0.5rem !important;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

/* --------------FOOTER---------------- */

.footer {
  background-color: #333333;
  color: #fff;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
